{% extends 'base.html' %}

{% block head %}
    <title>Your Purchases</title>
{% endblock %}

{% block body %}

<div class="purchases-header">
    <h2>Here are your purchases:</h2>

    <form method="GET" action="{{ url_for('filter_purchases') }}">
        <select name="filter" onchange="this.form.submit()">
            <option value="none" {% if request.args.get('filter') == 'none' %}selected{% endif %}>All</option>
            <option value="last_week" {% if request.args.get('filter') == 'last_week' %}selected{% endif %}>Last Week</option>
            <option value="last_year" {% if request.args.get('filter') == 'last_year' %}selected{% endif %}>Last Year</option>
            <option value="custom_range" {% if request.args.get('filter') == 'custom_range' %}selected{% endif %}>Custom Range</option>
        </select>
        
        {% if request.args.get('filter') == 'custom_range' %}
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" value="{{ request.args.get('start_date', '') }}">
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" value="{{ request.args.get('end_date', '') }}">
        <button type="submit">Apply</button>
        {% endif %}
    </form>

</div>

<form action="{{ url_for('save_data') }}" method="get">
    <button type="submit">Backup Data</button>
</form>
<div class="table-container">
{% if purchases|length == 0 %}
    <h4>You have no purchases yet.</h4>
{% else %}
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.prodName }}</td>
            <td>{{ purchase.qty }}</td>
            <td>₪{{ purchase.price }}</td>
            <td>{{ purchase.category }}</td>
            <td>{{ purchase.date.strftime('%Y-%m-%d') }}</td>
            <td>
                <div class="action-buttons">
                    <a href="/update_purchase/{{ purchase.id }}" class="update-btn">Update</a>
                    <a href="/delete_purchase/{{ purchase.id }}" class="delete-btn" onclick="return confirm('Are you sure you want to delete this purchase?')">Delete</a>
                </div>
            </td>                       
        </tr>
        
        {% endfor %}
    </table>
</div>
{% endif %}

<div class="form-container">
    <h3>Add a New Purchase</h3>
    <form action="{{ url_for('add_purchase') }}" method="post">
        <input type="text" name="prodName" placeholder="Product Name" required>
        <input type="number" name="qty" placeholder="Quantity" required>
        <input type="number" step="0.01" name="price" placeholder="Price" required>
        <input type="text" name="category" placeholder="Category" required>
        <input type="date" name="date" required>
        <button type="submit">Add Purchase</button>
    </form>
</div>
{% endblock %}
