{% extends 'base.html' %}

{% block body %}
{% if error_message %}
  <div style="color: red;">{{ error_message }}</div>
{% endif %}
{% if success_message %}
  <div style="color: green;">{{ success_message }}</div>
{% endif %}

<form method="POST">
  <label>Email:</label>
  <input type="email" name="email" required>

  <label>Current Password:</label>
  <input type="password" name="cPassword" required>

  <label>New Password:</label>
  <input type="password" name="nPassword" required>

  <button type="submit" class="crud-btn">Update Password</button>
</form>
{% endblock %}
